{% extends 'index.html' %}

{% block content %}

<div class="bg-light">
    <br><br>
    <div class="container">
        <div class="alert alert-info" role="alert">
            <ul>
                <li>Username is Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            </div>
            <br><br>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-primary">Register</div>
                        <div class="card-body">
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                <hr>
                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">Name</label>
                                    <div class="col-md-6">
                                        <input id="username" type="text" class="form-control" name="username" required>
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
        
                                    <div class="col-md-6">
                                        <input id="email" type="email" class="form-control " name="email" value="" required autocomplete="email">
        
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password1" class="col-md-4 col-form-label text-md-right">Password</label>
        
                                    <div class="col-md-6">
                                        <input id="password1" type="password" class="form-control " name="password1" required>
        
                                    </div>
                                </div>
        
                                <div class="form-group row">
                                    <label for="password2" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
        
                                    <div class="col-md-6">
                                        <input id="password2" type="password" class="form-control" name="password2" required>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>

{% endblock %}