{% extends 'index.html' %}

{% block content %}

<br><br>
<div class="container">

<div class="alert alert-primary" role="alert">
    <h1>This is a ToDo-List Details Table</h1>
</div>

<div style="margin-bottom: 7px;">
    <div class="form-group row">
        <i class="col-sm-1"></i>
      <div class="col-sm-8">
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModalCenter"><span><i class="fas fa-plus-square"></i></span> Add New Task</button>
      </div>
    </div>

</div>

<div>
{% if tasks|length == 0 %}
  <div class="alert alert-warning" role="alert">
    No Tasks are Available
  </div>
{% else %}
<table table class="table">
  <tr class="thead-dark">
    <th>Task No</th>
    <th>Title</th>
    <th>Creted On</th>
    <th>Completed</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{task.title}}</td>
    <td>{{task.createdon}}</td>
    {% if task.complete %}
    <td>✔️</td>
    {% else %}
    <td>🕖</td>
    {% endif %}
    <td><a href="/updatetodolist/{{ task.id }}" class="btn btn-primary">Edit Task</a></td>
    <td><a href="/deletetodo/{{ task.id }}" class="btn btn-danger">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</div>

<br><br><br>

<div class="alert alert-info" role="alert">
  <h5>This Week's Total Tasks Pending Vs Completed</h5>
</div>
<div class="progress">
  {% with "width: "|add:wper|add:"%" as percent_style2 %}
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="{{  percent_style2 }}" role="progressbar" aria-valuenow="{{ wper }}" aria-valuemin="0" aria-valuemax="100"  ></div>
  {% endwith %}
</div>
<br>

  <div class="form-group row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">This Week's Total Completed Tasks Till Now</h5>
          <h3 class="card-text">{{ wc }} / {{ tt }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">This Week's Total Pending Tasks Till Now</h5>
          <h3 class="card-text">{{ wp }} / {{ tt }}</h3>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h5>Total Tasks Completed in this Week </h5>
  <table class="table">
    <thead class="thead-secondary">
      
      <tr>
        <th scope="col">Sunday</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {% for weekday in twc %}
        <td>{{ weekday }}</td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  <br><br>

  <div class="alert alert-info" role="alert">
    <h5>Total Tasks Pending Vs Completed Till Now</h5>
  </div>
  <div class="progress">
    {% with "width: "|add:per|add:"%" as percent_style %}
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="{{  percent_style }}" role="progressbar" aria-valuenow="{{ per }}" aria-valuemin="0" aria-valuemax="100"  ></div>
    {% endwith %}
  </div>
  <br>
  
    <div class="form-group row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Completed Tasks Till Now</h5>
            <h3 class="card-text">{{ c }} / {{ t }}</h3>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Pending Tasks Till Now</h5>
            <h3 class="card-text">{{ p }} / {{ t }}</h3>
          </div>
        </div>
      </div>
    </div>
  


</div>

<br><br><br><br><br><br><br><br>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="{% url 'todolist' %}" method="POST">
          {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="form-group row">
                  <label for="title" class="col-sm-4 col-form-label">Task Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="title" name="title" placeholder="E.g Take Medicine">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                      <textarea type="text" class="form-control" id="description" name="description" rows="6" cols="60" placeholder="E.g Take Your Medicine Properly at 12PM, 5PM and 10PM"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-4 col-form-label">Completed</label>
                    <div class="col-sm-8">
                      <input type="checkbox" class="col-form-label" id="complete" name="complete">
                    </div>
                </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}